<p>admin-home works!</p>
<button type="button" class="btn btn-primary" routerLink="/create-user">create User</button>
<button (click)="logout()" type="button" class="btn btn-danger">Logout</button>
<h1>Users</h1>
<div class="container">
<div class="row">
<table class="table table-striped table-info">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allUsers">
      <td scope="row">1</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td><button [(ngModel)]="item._id" (click)="editUser(item._id)">edit</button></td>
      <td> <button [(ngModel)]="item._id" (click)="deleteUser(item._id)"> Delete </button></td>
    </tr>
  </tbody>
</table>
</div>
</div>