<p>admin-login works!</p>
<h1>Admin Login</h1>
<form [formGroup]="AdminloginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input id="email" type="email" formControlName="email" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label" formControlName="password">Password</label>
    <input id="password" type="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>